# This is an example where you can store your environment variables. Copy this file to .env
# Now your app will have access to the variables added below. 
# For more instructions see section "Secrets" in README.md

please change API KEY

API_URL = http://newsapi.org/v2/
NEWS_API_KEY = news_api_key
